{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div>
        <h1 class="red">Welcome to LoveTest50!</h1>
    </div>

    <!--"Heart" by camerazn-->
    <img src="/static/heart.jpg">

        <p>Need a chance at love? Try online dating.</p>

    <div class="list-group">
        <ul>
            <a href="https://bumble.com/get-started" class="list-group-item list-group-item-action">Bumble</a>
            <a href="https://tinder.com/" class="list-group-item list-group-item-action">Tinder</a>
            <a href="https://www.grindr.com/" class="list-group-item list-group-item-action">Grindr</a>
        </ul>
    </div>
{% endblock %}
